*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/335ddde7-3955-499c-b4cc-ca2eb7e1ae71/a7d20bc1-831c-4f9d-8153-11bdf7a08d23/IN-en-20240624-POP_SIGNUP_TWO_WEEKS-perspective_WEB_13cda806-d858-493e-b4aa-f2792ff965dc_large.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    height: 62px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    color: red;
    position: relative;
    z-index: 10;
}
.hero{
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
   size: 212px;
   gap: 20px;
   padding: 23px;
   
}
.hero> :nth-child(1){
    font-size: 48px ;
    font-weight: 900;
    text-align: center;
   }
   .hero> :nth-child(2){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
   }
   .hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
   }
   .separartion{
    height: 7px;
    background-color: rgb(77, 77, 77);
   }
   .btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
   }
   .btn-red{
        background-color: red;
        color: white;
        padding: 3px 24px;
        font-size: 20px;
        border-radius: 4px;
   }
   .main input{
    padding: 3px 24px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    background-color: rgb(23, 23, 23,0.2);
   }
   .btn-red-sm{
    background-color: rgb(23, 23, 23,0.2);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(246,238,238,0.5);
   }
   .first{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 70vw;
   }
   .secImg{
    position: relative;
   }
   .secImg img{
    width: 40vw;
    position: relative;
    z-index: 10;
    gap: 5px;
   }
   .secImg video{
    position: absolute;
    top: 51px;
    right: 0;
   }
   section.first > div{
    display: flex;
    flex-direction: column;

   }
   section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
   }
   section.first > div :nth-child(2){
    font-size: 24px;
   }
   .second{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 70vw;
   }
   section.second > div{
    display: flex;
    flex-direction: column;

   }
   section.second > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
   }
   section.second > div :nth-child(2){
    font-size: 24px;
   }


   .fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 70vw;
   }
   section.fourth > div{
    display: flex;
    flex-direction: column;

   }
   section.fourth > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
   }
   section.fourth > div :nth-child(2){
    font-size: 24px;
   }
   .third{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 70vw;
   }
   section.third > div{
    display: flex;
    flex-direction: column;

   }
   section.third > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
   }
   section.third > div :nth-child(2){
    font-size: 24px;
   }
   .feq{
    color: white;
    background: black;

   }
   .feq h2{
    text-align: center;
   }
   .faqbox :hover{
    background-color: red;
   }
   .faqbox{
    transition: all;
  background-color: rgb(55, 53, 53);
  display: flex;
  padding: 23px;
  margin: auto;
  justify-content: space-between;
  max-width: 40vw;
  font-size: 24px;
  cursor: pointer;
   }

   .frommy{
    height: 40px;
    background-color: black;
   }
   .member {
    background-color: red;
    color: white;
    display: flex;
    max-width: 30vw;
    height: 65px;
    font-size: 25px;
    justify-content: center;
    align-items: center; /* Added this line */
    margin: auto;
    cursor: pointer;
    border-radius: 3px;
}
.member h3{
    text-align: center;
    align-items: center;
}
footer{
    margin: auto;
    color: white;
    max-width: 60vw;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 60vw;
    color: white;
}

footer a{
   text-decoration: underline;
   color: rgb(221, 209, 209);
}
footer .questions{
    padding: 34px 0;
}
.footitem{
    display: flex;
    flex-direction: column;
}
